<!DOCTYPE html>
<html>
<head>
  <title>To-do Manager</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include('header') %>

  <div class="container">
    <form method="POST" action="/todos">
      <input type="text" name="title" placeholder="Enter to-do title" required />
      <button type="submit">Add</button>
    </form>

    <%- include('todos') %>
  </div>

  <%- include('footer') %>
</body>
</html>
