<!DOCTYPE html>
<html>
<head>
  <title>To-do Manager</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <% include header.ejs %>

  <form method="POST" action="/todos">
    <input type="text" name="title" placeholder="Enter to-do title" required />
    <button type="submit">Add</button>
  </form>

  <% include todos.ejs %>

  <% include footer.ejs %>
</body>
</html>
